<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AscaExcelPrepTool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AscaExcelPrepTool.My.MySettings>
            <setting name="proctype" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="bgcolor_r" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bgcolor_g" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bgcolor_b" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ftcolor_r" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ftcolor_g" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ftcolor_b" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bgcolorlist" serializeAs="String">
                <value />
            </setting>
            <setting name="ftcolorlist" serializeAs="String">
                <value />
            </setting>
            <setting name="bgout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hiddensheet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dollar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeshapes" serializeAs="String">
                <value>False</value>
            </setting>
        </AscaExcelPrepTool.My.MySettings>
    </userSettings>
</configuration>